@import "tailwindcss";

@theme {
  --color-neon-pink: #ff007f;
  --color-neon-blue: #00f2ff;
  --color-neon-green: #39ff14;
  --color-dark-bg: #05060a;
  --color-board-bg: #0c0d16;
}

body {
  background-color: var(--color-dark-bg);
  color: #e2e8f0;
}

.snake-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.dot-bg {
  background-image: radial-gradient(var(--color-neon-green) 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}

.snake-bg-grid {
  background-image: linear-gradient(#1e293b 1px, transparent 1px), linear-gradient(90deg, #1e293b 1px, transparent 1px);
  background-size: 5% 5%;
}

.neon-text-pink {
  color: var(--color-neon-pink);
  text-shadow: 0 0 5px rgba(255, 0, 127, 0.5);
}

.neon-text-blue {
  color: var(--color-neon-blue);
  text-shadow: 0 0 5px rgba(0, 242, 255, 0.5);
}